.navbar {
  font-family: "Architects Daughter";
}

h1 {
text-align: center;
color: paleturquoise;
font-family: "Architects Daughter";
font-weight: bold;
font-size: 40px;
}

h2 {
    text-align: center;
    color: white;
    font-family: "Architects Daughter";
    }
h3, h6 {
    text-align: center;
    font-family: "Architects Daughter";
    font-weight: bold;
}
.jumbotron {
    background-image: url(images/clothes.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

footer {
    background-color: rgb(46, 46, 114);
    color: white;
    padding: 10px;
    text-align: center;
}

p {
    font-family: "Roboto";
    padding: 15px;
    text-align: justify;
}
/*
body {
  background-image: url(images/clothes.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */
.clothes {
  color: white;
  background-color: darkgrey;
  opacity: 80%;
  margin-top: 10px;
}
.skirts {
  background-color: paleturquoise;
  opacity: 95%;
}

.trousers {
  background-color: paleturquoise;
  opacity: 95%
}
.tops {
  background-color: paleturquoise;
  opacity: 95%;
}
.accessoires {
  background-color:  paleturquoise;
  opacity: 95%
}
/*
.image-wrapper {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    background: gainsboro;
    margin: 10px 0;
  }
  .image-wrapper img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .use-cover-background {
    background-size: cover;
    background-position: center;
  }
  .square {
    margin: 10px 10px;
    width: 250px;
    height: 250px;
  }

/* footer */

.footer{
  width: 100%;
  min-height: 120px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.footerFrame{
  width: 50%;
  min-height: 40px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.footerFrame .footerLinks a {
text-decoration: none;
color: white;
}
.footerFrame .footerLinks a:hover{
  color: green;
}
.footer p {
  color: white;
}